
<%- include("partial/header") %>

<body>
    <main>
        <h1>Welcome to Home Pageee</h1>
        <nav>
            <a href="/random-workout"> Generate a Random Workout</a>
        </nav>
        <button id= 'workoutButton' class="btn btn-primary" type="submit">Button</button>

    </main>
    
    <%- include("partial/footer") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        document.getElementById("workoutButton").addEventListener("click", function() {
            fetch('/random-upper-lower', {
                method: 'GET',
            })
            .then(response=>response.json())
            .then(data => {
                console.log('Success: ', data);
            })
            .catch((error) => {
            console.error('Error:', error);
            });
        })
    </script>
</body>
</html>